server:
  port: 9000
spring:
  application:
    name: nitere-cloud-order
  profiles:
    active: dev #多環節配置加載内容dev/prod, 不寫就是默認default

  datasource:
    url: jdbc:postgresql://localhost:5432/niterecloud-order
    username: postgres
    password: Jie@140305
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 60000
      pool-name: DateSourceHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # 如果你真的要從 Consul K/V 讀遠端配置，可以這樣：
  # config:
  #   import: optional:consul:localhost:8500
  config:
    import: "optional:consul:localhost:8500"

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}
      config:
        profile-separator: '-'
        format: YAML

    openfeign:
      client:
        config:
          default:
            connectTimeout: 4000
            readTimeout: 4000

      httpclient:
        hc5:
          enabled: true
      compression:
        request:
          enabled: true
          min-request-size: 2048
          mime-types: text/xml,application/xml,application/json
        response:
          enabled: true
      circuitbreaker:
        enabled: true
        #使用綫程池的方式，這裏應該關閉
 #       group:
 #         enabled: true

# Resilience4j 詳細策略（可選，但推薦）
resilience4j:
  ######斷路器，進行服務熔斷和降級
  circuitbreaker:
    instances:
      nitere-cloud-production:
        slidingWindowType: COUNT_BASED # 滑動窗口類型
        slidingWindowSize: 20 #滑動窗口大小配置，COUNT_BASED表示6個請求，TIME_BASED表示6秒
        minimumNumberOfCalls: 20  #最小樣本
        failureRateThreshold: 50  #超過請求失敗百分比，CircuitBreaker open
        automaticTransitionFromOpenToHalfOpenEnabled: true #是否自動從開啓狀態過度到半開狀態，默認爲true
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 5
        recordExceptions:
          - java.lang.Exception
  ######艙壁， 進行限流
  bulkhead:
    instances:
      prod-semaphore:
        maxConcurrentCalls: 30 #隔離容許并發綫程執行的最大綫程數
        maxWaitDuration: 50ms #阻塞綫程的最長等待時間
  #resilience4j.thread-pool-bulkhead
  thread-pool-bulkhead:
    instances:
      prod-threadpool:
        max-thread-pool-size: 1
        core-thread-pool-size: 1
        queue-capacity: 1

  ####resilience4j  ratelimiter限流
  ratelimiter:
    instances:
      pro-ratelimiter:
        limitForPeriod: 50 #再一次刷新周期内，允許執行的最大請求數
        limitRefreshPeriod: 1s #限流器每隔limitRefreshPeriod刷新一次，將允許處理的最大請求數重置為limitForPeriod
        timeout-duration: 0 #綫程等待權限的默認等待時間


  timelimiter:
    instances:
      nitere-cloud-production:
        timeoutDuration: 20s

logging:
  level:
    com.nitere.cloud.commons.web.controller.feign.ProductionFeignApi: debug
    org.springframework.cloud.openfeign: DEBUG
    feign: DEBUG
    org.apache.hc.client5.http: DEBUG
