server:
  port: 9000
  servlet:
    context-path: /order

spring:
  application:
    name: order

  datasource:
    url: jdbc:postgresql://localhost:5432/niterecloud-order
    username: postgres
    password: Jie@140305
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 60000
      pool-name: DateSourceHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  cloud:
    consul:
      config:
        enabled: false
      discovery:
        enabled: false

  rabbitmq:
    host: localhost
    port: 5672
    virtual-host: /
    username: guest
    password: guest
    connection-timeout: 15000
    # 開啓發送段確認
    publisher-confirm-type: correlated  #  新寫法，必須開啟這個
    publisher-returns: true             # 若你也想處理 ReturnCallback
    template:
      mandatory: true                    #  配合 return callback 的必要設置
    listener:
      simple:
        acknowledge-mode: manual    #允許你在消費者中手動 channel.basicAck() 或 basicNack()
        concurrency: 1
        max-concurrency: 5



feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

logging:
  level:
    root: info
    org.springframework.web: debug